/* :root {
    --header-bg:#2C3E50;
} */

/*utilities*/
.secondary-bg {
    background-color: #1ABC9C;
}

.tertiary-bg {
    background-color: #3A546D;
}

.debug {
    /* background-color: rgba(50, 205, 50, 0.26); */
    border: 2px solid blue;
    /* min-height: 50px; */
}

.debug-2 {
    /* background-color: rgba(205, 94, 50, 0.26); */
    border: 2px solid black;
    /* min-height: 50px; */
}

/*header*/
header {
    height: 80px;
    background-color: #2C3E50;
    color: white;
}

/*jumbotron*/
.rc-jumbotron {
    height: 500px;
}

.rc-jumbotron .user img {
    width: 200px;
}

.rc-jumbotron .star > div {
    display: flex;
    align-items: center;

}

.rc-jumbotron .star hr {
    /* width: 50%; */
    border: 2px solid white;
}

/*main*/
.portfolio,
.contact-me {
    min-height: 500px;
}

.rc-container {
    width: 60%;
    margin: 0 auto;
}

.about {
    min-height: 400px;
}

footer {
    height: 250px;
    background-color: #2C3E50;
}

.social {
    min-height: 70%;
}

.copyright {
    min-height: 30%;
}