/* :root {
    --header-bg:#2C3E50;
} */

.header-bg {
    background-color: #2C3E50;
}

.secondary-bg {
    background-color: #1ABC9C;
}

.debug {
    /* background-color: rgba(50, 205, 50, 0.26); */
    border: 2px solid blue;
    /* min-height: 50px; */
}

.debug-2 {
    /* background-color: rgba(205, 94, 50, 0.26); */
    border: 2px solid black;
    /* min-height: 50px; */
}

header {
    height: 80px;
}

.rc-jumbotron {
    min-height: 400px;
}

.portfolio {
    min-height: 500px;
}

.about {
    min-height: 300px;
}